extends layouts/layout

block contenido
    main.contenedor
        form(action="/vacantes/nueva" method="POST" class="default-form")

            h3 Información General 
            div.campo
                label(for="") Título 
                input(type="text" name="titulo" placeholder="Ej: React Developer")

            div.campo
                label(for="") Empresa 
                input(type="text" name="empresa" placeholder="Ej: Empresa Contrata")

            div.campo
                label(for="") Ubicación 
                input(type="text" name="ubicacion" placeholder="Ej: México o Remoto")

            div.campo
                label(for="") Salario (USD)
                input(type="text" name="salario" placeholder="Ej: 500 USD")

            div.campo
                label(for="") Contrato 
                select(name="contrato")
                    option(value="" disabled selected) - Selecciona - 
                    option(value="Freelance") Freelance
                    option(value="Tiempo completo") Tiempo completo
                    option(value="Medio Tiempo") Medio Tiempo
                    option(value="Por proyecto") Por proyecto

            h3 Descripción del puesto 

            div.campo.descripcion
                label(for="") Descripción 
                input(type="hidden" id="x" name="descripcion")
                trix-editor(input="x")

            h3 Conocimientos 

            ul.lista-conocimientos
                each skill in skills 
                    li= skill

            
            div.campos.centrar-horizontal
                input(type="hidden" name="skills" id="skills" value="[]")
                input(type="submit" value="Publicar" class="btn btn-azul")       
