extends ../layouts/layout

block contenido
    if errores
        div.alertas
            each error in errores
                div.error.alerta= error.msg
    main.contenedor 
        form(action="" method="POST" class="default-form")
            div.campo  
                label(for="") Nuevo password 
                input(type="password" name="password" placeholder="Tu contraseña" value= `${datos ? datos.password : ""}`)
            div.campo  
                label(for="") Repite tu password 
                input(type="password" name="confirmar" placeholder="Repite tu password" value= `${datos ? datos.confirmar : ""}`)

            .campo 
                input(type="submit" value="Cambiar password" class="btn btn-azul")  

block scripts
    script(src="/js/registro.js") 