extends ../layouts/layout

block contenido

    if errores
        div.alertas
            each error in errores
                div.error.alerta= error.msg
    
    main.contenedor
        form(action="/reset-password" method="POST" class="default-form")
            
            div.campo
                label(for="") Email
                input(type="email" name="email" placeholder="Tu Email" value=`${data ? data.email : '' }`)

            div.campo.acciones
                a(href="/login") Prefiero iniciar sesión

            div.campo 
                input(type="submit" value="Reestablecer Password" class="btn btn-azul")  